.sw-container {
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;

  .lcd-wrap {
    display: flex;
    span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 38px;

      &:before {
        margin-bottom: 4px;
        margin-left: 5px;
      }
      &:first-of-type {
        &::before {
          content: "\003A";
        }
      }
      &:last-of-type {
        &::before {
          margin-top: 16px;
          content: "\2024";
        }
      }
    }
  }
  .sw {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 40px;
    height: 165px;
    .display {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      flex: 1;
      color: #7dd12e;
      font-size: 40px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4) inset;
      background-color: #242424;
    }
    .controls {
      display: flex;
      height: 56px;
      button {
        font-size: 18px;
        border: 1px solid rgb(189, 189, 189);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-of-type {
          flex: 4;
          max-width: 260px;
        }
        &:first-of-type {
          fa-icon {
            font-size: 12px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .laps {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      margin-bottom: 28px;
      align-items: center;
      border-bottom: 1px solid #4d4d4d;
      padding-bottom: 28px;
      .lcd-wrap {
        span {
          color: #fff;
          font-weight: 600;
          height: 28px;
          &:last-of-type {
            &::before {
              margin-top: 10px;
            }
          }
        }
      }
    }
    li:last-of-type {
      border: 0;
    }
    button {
      border: 0;
      margin-left: auto;
      color: #fff;
      height: 30px;
      width: 75px;
      background-color: #ff0000;
      font-weight: 600;
    }
  }
}
